.header {
  width: 100%;
  position: absolute;
  z-index: getZIndex(fixed);
  background: transparent;
  transition: background-color $transition;

  .logo_show {
    z-index: 1;
  }

  .logo_hide {
    z-index: 0;
    opacity: 0;
  }

  .social {
    font-size: 16px;
    padding: 6px 0;
    margin-left: 45px;

    a {
      padding: 7px;
      color: #fff;
    }
  }

  .social_item {
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    .menu_opened & {
      &:nth-child(1) {transition-delay: .5s }
      &:nth-child(2) {transition-delay: .6s }
      &:nth-child(3) {transition-delay: .7s }
      &:nth-child(4) {transition-delay: .8s }
    }
  }

  &__wrapper {
    padding: 27px 0;

    @util clearfix;
  }

  &--inverse {
    background-color: getColor(white) !important;
    background-image: none;
    position: fixed;

    .logo_show {
      opacity: 0;
    }

    .logo_hide {
      opacity: 1;
    }

    .btn_menu {
      i {
        background-color: rgba(getColor(dark), .8)
      }
    }

    .social {
      a {
        color: getColor(dark);
      }
    }

    .header_logo {
      height: 44px;

      &:after {
        display: none;
      }

      svg g {
        fill: getColor(dark);
      }
    }

    .header_nav {
      &__item {
        color: getColor(dark);

        a:hover {
          color: rgba(getColor(dark), .8);
        }

        &--active {
          color: getColor(primary);

          &:after {
            border-bottom-color: getColor(dark);
          }
        }
      }
    }

    .header_action {
      .btn {
        background-color: getColor(dark);
        color: getColor(white);
      }
    }
  }

  @include break-max(tablet) {
    &__wrapper {
      padding: 20px 0;
      height: 90px;
    }
  }
}

.header_logo {
  float: left;
  position: relative;
  color: getColor(white);
  overflow: hidden;

  a {
    display: block;
    color: getColor(white);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }

  @include break-max(medium) {
    margin-right: 0;
  }

  @include break-max(tablet) {
    left: 24px;
    top: 20px;
    z-index: 1000;
    margin: 0;
    position: absolute;

    .header--inverse & {
      position: fixed;
      left: 0;
    }
  }
}

.header_action {
  float: right;
  margin-top: 3px;

  @include break-max(medium) {
    margin-top: 0;
  }
}

.header_menu {
  float: left;
  display: none;
  margin-right: 15px;

  @include break-max(medium) {
    display: block;
  }
}

.header_nav {
  list-style: none;
  text-align: center;

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.47;
    color: #fff;

    a {
      padding: 6px 13px;
      display: block;
      transition: color $transition;
      color: inherit;

      &:hover {
        color: rgba(getColor(white), .8);
      }
    }

    &--active {
      color: getColor(white);
    }
  }

  .menu_opened & {
    &__item {
      color: getColor(text) !important;
      transition: opacity .5s cubic-bezier(.32,1.46,.54,1.28), transform .5s cubic-bezier(.32,1.46,.54,1.28);

      &:nth-child(1) { transition-delay: .1s }
      &:nth-child(2) { transition-delay: .2s }
      &:nth-child(3) { transition-delay: .3s }
      &:nth-child(4) { transition-delay: .4s }
      &:nth-child(5) { transition-delay: .45s }
      &:nth-child(6) { transition-delay: .5s }

      &--active {
        color: getColor(primary) !important;
      }
    }
  }

  @include break-max(medium) {
    white-space: nowrap;

    &__item {
      font-size: 12px;

      a {
        padding: 8px 10px;
      }
    }
  }
}

.nav_menu {
  float: right;
  display: none;
  z-index: 1000;
  right: 0;
  top: 0;
  position: absolute;

  .btn {
    padding: 24px;
    margin: 0;
  }

  .header--inverse & {
    position: fixed;
  }

  @include break-max(tablet) {
    display: block;
  }
}

.menu_icon {
  i {
    display: block;
    width: 24px;
    height: 2px;
    background-color: getColor(white);
    transition: all $transition;

    + i {
      margin-top: 6px;
    }

    .header--inverse & {
      background-color: getColor(text);
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &__text {
    margin-right: 8px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.36;
    letter-spacing: 0.8px;
    text-align: left;
    text-transform: uppercase;
    transition: all .3s ease;

    .header--inverse & {
      color: getColor(text);
    }
  }

  &.active {
    i {
      &:first-child {
        transform: rotate(45deg) translate(3px, 3px);
      }

      &:last-child {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }
}

.menu_opened .menu_icon {
  i {
    background-color: #000;
  }

  &__text {
    opacity: 0;
    visibility: hidden;
  }
}


.nav_dropdown {
  @include break-max(tablet) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    background-color: getColor(white);
    text-align: center;
    transition: height .2s;
    overflow: auto;

    .social {
      display: block;
      margin-left: 0;
      float: none !important;
      text-align: left;
      padding: 5px 24px;
      margin-top: 50px;

      a {
        color: getColor(text);
      }
    }

    .social_item {
      display: block;
      width: auto;
      height: auto;
      margin: 0;
      transform: translate(0, 100px);
      opacity: 0;

      span, .icon {
        display: inline-block;
        vertical-align: middle;
      }

      .icon {
        margin-right: 8px;
      }
    }

    .header_center {
      float: none !important;
      text-align: left;
    }

    .header_nav {
      float: none !important;
      padding: 0;
      width: 100%;
      text-align: left;

      &__item {
        margin: 0 0 10px 0;
        display: block;
        font-size: 20px;
        transform: translate(0, 50px);
        opacity: 0;

        a {
          padding: 8px 24px;
          display: inline-block;
          vertical-align: top;

          &:hover {
            color: getColor(text);
          }
        }
      }
    }

    &--open {
      display: block;
      height: 100%;
      height: 100vh;
      padding: 130px 0 50px;


      .header_nav__item,
      .social_item {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }

  @include break-max(medium) {
    &--open {
    }
  }
}