.container {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .header,
  .section_lead,
  .section_manifesto {
    .container {
      width: 1390px;
    }
  }
}

.cutted_container {
  &--show {
    .cutted_text {
      display: inline;
    }

    .cutted_dots {
     display: none;
    }
  }
}

.cutted_text {
  display: none;
}

.nav-tabs {
  border-top: 1px solid #CCC;
  width: 280px;
  max-width: 100%;
  margin-bottom: 100px;

  >li {
    display: block;
    float: none;
    border-radius: 0;
    padding: 0;

    >a {
      border-radius: 0;
      border: 0 !important;
      background-color: transparent !important;
      border-bottom: 1px solid #ccc !important;
      font-weight: normal;
      font-size: 18px;
      color: #242424;
      letter-spacing: 0;
      line-height: 30px;
      padding: 12px 0;
      margin-right: 0;

      &:hover {
        color: getColor(primary);
      }
    }

    &.active {
      a {
        font-weight: bold;
        color: #242424 !important;
      }
    }
  }

  &.affix {
    top: 100px;
  }

  &.affix-bottom {
    position: absolute;
  }
}

.tab-pane {
  @include break-max(tablet) {
    display: block !important;
    padding-bottom: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid #ECECEC;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.social {
   span {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: uppercase;
  }
}