<section class="section section_about" id="about">
  <div class="container">
    <div class="section_header">
      <h2>Blockchain-powered energy&nbsp;network</h2>
      <p class="lead">Green Energy Wallet connects electric vehicle and home batteries to a large energy storage system for renewable energies to balance the power grid.</p>
    </div>

    <div class="section_media text-center">
      <img src="images/scheme@2x.jpg" width="923" alt="scheme isometric">
    </div>

    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <div class="list_quotes">
          <div class="list_quotes__item">
            <div class="list_quotes__text">
              <p>There is an urgent need to move away from fossil energy. Each hour, the same amount of energy consumed by all humans in a year reaches the earth from the sun.</p>
              <p>Let’s harvest and store this energy!”</p>
            </div>
            <div class="list_quotes__desc">Jutta Kleinschmidt, founder of Green Energy Wallet</div>
          </div>
          <div class="list_quotes__item">
            <div class="list_quotes__text">
              <p>The stone age came to an end not for lack of stones. And the oil age will come to an end not for lack of oil.</p>
            </div>
            <div class="list_quotes__desc">Sheikh Yamani, former Saudi Oil Minister</div>
          </div>
          <div class="list_quotes__item">
            <div class="list_quotes__text">
              <p>I believe in the horse, the automobile is a temporary phenomenon.</p>
            </div>
            <div class="list_quotes__desc">Kaiser Wilhelm II</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
