<section class="section section_lead" id="lead">
  <div class="container">

    <div class="vertical_align">
      <div class="vertical_align__row">
        <div class="vertical_align__cell">
          <div class="row">
            <div class="col-xs-12 col-md-5 pull-right">
              <h1 class="h2 section_title">Green Energy Wallet</h1>
              <p class="lead">Energy storage is one of the major challenges of the 21st century, and we have the solution!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section_lead__footer">
    <div class="references">
      <a href="#contact" class="references__item references__item--dark _move_to _header_link">
          <i class="icon icon--newsletter"></i>
          <span>Subscribe to newsletter</span>
      </a>
<!--      <a href="" class="references__item references__item&#45;&#45;medium">
          <i class="icon icon&#45;&#45;video"></i>
          <span>Watch video</span>
      </a>-->
      <a href="GEW_WhitePaper.pdf" target="_blank" class="references__item references__item--light">
          <i class="icon icon--whitepaper"></i>
          <span>Whitepaper</span>
      </a>
    </div>
  </div>
</section>