<section class="section section_manifesto" id="manifesto">
  <div class="container">
    <div class="row">
      <div class="col-md-5 hidden-xs hidden-sm">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#tab_manifesto" aria-controls="tab_manifesto" role="tab" data-toggle="tab">Manifesto</a></li>
          <li role="presentation"><a href="#tab_about" aria-controls="tab_about" role="tab" data-toggle="tab">What is Green Energy Wallet?</a></li>
          <li role="presentation"><a href="#tab_benefits" aria-controls="tab_benefits" role="tab" data-toggle="tab">Key Benefits</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab_manifesto">
            <h2 class="section_title">Manifesto</h2>
            <p>Two substantial changes will determine our future: more renewable energies and more electric vehicles. Crude oil, natural gas, and coal cover today the majority of our global energy needs. But the related emissions of greenhouse gases have caused the planet’s climate to change in an unnatural manner. The world is ready for change, and the political will to act on environmental issues is here.</p>

            <div class="section_media section_media--indent">
              <img src="images/american-public-power-association-419672.jpg" width="800" alt="">
            </div>
            <p>Unfortunately, renewables are not as reliable as conventional power plants, and electricity cannot be stored in the power grid. To ensure that the transition away from fossil fuels is a practical and achievable goal, we need efficient facilities to store renewable energy.</p>
            <p>Therefore, Green Energy Wallet (GEW) connects batteries of many electric vehicles to use this capacity as a large buffer store for renewable energy. Solar power systems and home batteries can also be integrated. We connect charging stations with the power grid to manage the electricity with flow either ways between the power grid and the battery.</p>
            <p>Bidirectional charging stations of several manufacturers can be connected to GEW. In addition, we will develop together with a partner a bidirectional charging station tailored for GEW.</p>
            <p>GEW works together with the energy provider to buy electricity when the price is low because of overproduction and sell it high when the power grid system needs it. In addition, GEW can ensure the power supply of your home when the power network fails.</p>

            <p>Our GEW app can communicate between the electric vehicle, home system, charging station, and power grid. Additionally, the GEW app will contain many more useful functions, such as providing easy access to the vehicle’s and home’s system settings and diagnostics.</p>
            <p>GEW rewards clients through a GEW token reward system for providing buffer storage and data and for using our GEW network. The energy trading and the GEW token reward system will be based on blockchain technology.</p>

            <blockquote>
              Energy storage is the key to replace fossil-burning power plants with renewable energy. With growing renewable energy, we need more storage systems. GEW will help satisfy that demand.
            </blockquote>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab_about">
            <h2 class="section_title">What is Green Energy <br class="hidden-sm hidden-xs">Wallet?</h2>

            <div class="section_media section_media--text">
              <img src="images/gew_app@2x.png" width="520" alt="">
              <div class="section_media__text"><span>01</span> The Green Energy Wallet app</div>
            </div>
            <p>The Green Energy Wallet app controls the system and runs all settings. It provides the software connection between the electric vehicle, the charging station, and the power grid. With this app, the user can charge or discharge an electric vehicle based on typical preferences or current needs. The app also provides other useful functions, such as access to car settings, statistics on mileage, consumption, driving style, the vehicle’s current charge level, and GPS location. A good side effect is that intelligent battery charging lengthens battery life. </p>
            <p>GEW rewards battery usage with a token named NRG. The amount of the NRG token depends on the capacity of storage and total time GEW is permitted to use the battery as a buffer store. The NRG token status is covered in real time by the GEW app. At all times, the user can check on the amount of NRG tokens already received and how many more could potentially be earned. The NRG token can be converted into energy or other assets on the blockchain.</p>
            <p>The data collected by the GEW app are very valuable for car manufacturers, insurers, suppliers, and  governments, including for the collection of statistics. If the user permits us to use their complete data or a part of their data they will be rewarded with NRG tokens.</p>
            <p>The GEW app will be developed by Lykke, which has deep experience working with blockchain technology.</p>
            <div class="section_media section_media--text">
              <img src="images/power_box.jpg" width="380" alt="">
              <div class="section_media__text"><span>02</span> GEW Customer-Tailored Power Box</div>
            </div>
            <p>In order to offer our customers the best possible functions, we are developing a bi-directional charging station together with a partner. This hardware component supports the rapid charging and discharging of batteries. A bi-directional meter measures the flow of electricity in both directions from and to the grid. The user can also connect a home battery or any private energy production system and transfer energy to where it is needed most at any given time. The electric vehicle can also be charged with home-produced energy. The user’s own home can be powered by the electric vehicle’s battery. This secures a power backup during blackouts. It also means the electric vehicle’s battery could replace an expensive home battery storage system.</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab_benefits">
            <h2 class="section_title">Key Benefits</h2>

            <div class="row">
              <div class="col-md-6">
                <h3>For Green Energy Wallet</h3>
                <ul class="list-styled">
                  <li>Profiting from electricity trading on the energy market by charging during off-peak hours and selling during peak hours</li>
                  <li>Using existing batteries as energy storage; there are no expensive installation and maintenance costs</li>
                  <li>The energy storage capacity can be leased to energy providers for a regular fee</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h3>For electricity providers</h3>
                <ul class="list-styled">
                  <li>Drawing energy from connected batteries to meet instantaneous energy demands</li>
                  <li>Emergency power backup during outages</li>
                  <li>No need for the installation of expensive energy storage facilities with a negative impact on the environment</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <h3 class="col-md-12">For Green Energy Wallet users</h3>

              <div class="col-md-6">
                <ul class="list-styled">
                  <li>Profit on GEW token reward program</li>
                  <li>Charging their electric vehicle cheaper</li>
                  <li>Draw from energy stored in their electric vehicle battery during peak hours</li>
                  <li>Useful functions in the GEW app</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-styled">
                  <li>Extending battery life by managing and regulating the charge/discharge cycles</li>
                  <li>Using the electric vehicle’s battery instead of a home battery as a supplement to solar power</li>
                  <li>Making a significant contribution to environmental protection</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
