<section class="section section_team" id="team">
  <div class="container">
    <h2 class="section_title">Team</h2>

    <div class="team_list">
      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/03_Jury_Jutta_Kleinschmidt.jpg" width="380" alt="Jutta Kleinschmidt">
        </div>
        <div class="team_item__info">
          <div class="team_item__social">
            <a href="http://www.jutta-kleinschmidt.de/" target="_blank">
              <i class="icon icon--globe"></i>
            </a>
          </div>
          <div class="team_item__name">
            <div class="team_item__title">Jutta Kleinschmidt</div>
            <div class="team_item__desc">Founder</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Engineering, Partnerships</strong>
            <p class="cutted_container">Jutta Kleinschmidt is a professional car race driver and the first woman to win the overall classification at the Dakar Rally. During her race career, she developed the most<span class="cutted_dots">...</span> <span class="cutted_text"> successful race cars. After earning her Masters of Physics in engineering, she worked for BMW as a development engineer. She currently serves as an advisor for well-known companies.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/spuller.jpg" width="380" alt="Alexander Spuller">
        </div>
        <div class="team_item__info">
          <div class="team_item__name">
            <div class="team_item__title">Alexander Spuller</div>
            <div class="team_item__desc">Co-Founder</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Management, Business Development</strong>
            <p class="cutted_container">Alexander Spuller works as a managing engineer in his family’s construction business. Over the years, he has contributed to numerous projects of various sizes and<span class="cutted_dots">...</span> <span class="cutted_text"> scopes, from local impact to international reach. He presently sits on the Board of Directors of Lykke AG. He holds a degree in civil engineering and legal studies.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/golub.jpg" width="380" alt="Anton Golub">
        </div>
        <div class="team_item__info">
          <div class="team_item__name">
            <div class="team_item__title">Anton Golub</div>
            <div class="team_item__desc">Co-Founder</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Finance, Research</strong>
            <p class="cutted_container">Anton Golub is co-founder of Lykke. He is a leading expert in the financial applications of Blockchain technology. Before Lykke, Anton worked<span class="cutted_dots">...</span> <span class="cutted_text">with Richard Olsen at Olsen Ltd, a pioneer hedge fund in the field of high-frequency trading. Anton holds a Masters degree in financial mathematics from the University of Zagreb, and he is a Ph.D. candidate at the Universite de Geneve, CUI.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/Svoboda.jpg" width="380" alt="Christian Svoboda">
        </div>
        <div class="team_item__info">
          <div class="team_item__name">
            <div class="team_item__title">Christian Svoboda</div>
            <div class="team_item__desc">Co-Founder</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Management, Business Development</strong>
            <p class="cutted_container">After finishing his studies at the Controlling Institute Austria in Vienna, Christian acted as Head of Controlling for a major food retail chain in Austria, which<span class="cutted_dots">...</span> <span class="cutted_text">contributed to an extensive experience in Controlling and Finance. Since 2006, he has been the CEO and Managing Partner of a Swiss-based company that has created and managed alternative investment funds and supports various startups.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/Roth.jpg" width="380" alt="Christina Roth">
        </div>
        <div class="team_item__info">
          <div class="team_item__name">
            <div class="team_item__title">Christina Roth</div>
            <div class="team_item__desc">Co-Founder</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Project management, marketing & communications </strong>
            <p class="cutted_container">Christina holds two Masters degrees in business. She started her career in the marketing department at Red Bull Media House and quickly progressed to overall project manager.<span class="cutted_dots">..</span> <span class="cutted_text"> After moving on five years later, she worked for various projects in the crypto world, and she took part in a successful ICO in late 2017.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/Ivliev.jpg" width="380" alt="Sergey Ivliev">
        </div>
        <div class="team_item__info">
          <div class="team_item__name">
            <div class="team_item__title">Sergey Ivliev</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Products & Operations</strong>
            <p class="cutted_container">For 20 years, Sergey has been an industry professional, lecturer, author, and event curator. As a member of editorial boards of academic journals and expert councils, he promotes best<span class="cutted_dots">...</span> <span class="cutted_text"> practices of financial markets and risk management. He has supervised and completed more than 100 large-scale system implementation projects with total revenue exceeding 40 million USD. Segey is also Regional Director at PRMIA Russia and associate professor at Perm State University.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/Nikulin.jpg" width="380" alt="Michael Nikulin">
        </div>
        <div class="team_item__info">
          <div class="team_item__name">
            <div class="team_item__title">Mihail Nikulin</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Technology</strong>
            <p class="cutted_container">Mihail is Lykke co-founder and CTO and an architect and designer with 10 years of experience in creating market solutions for financial institutions, including Anti-Money Laundering, Fraud Detection, and<span class="cutted_dots">...</span> <span class="cutted_text"> Financial Markets Compliance solutions. He combines deep knowledge of financial architecture with blockchain technology.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/Mechenkova.jpg" width="380" alt="Lena Mechenkova">
        </div>
        <div class="team_item__info">
          <div class="team_item__name">
            <div class="team_item__title">Lena Mechenkova</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Communications</strong>
            <p class="cutted_container">Lena is a communications professional with more than 17 years of experience in public relations and mass media. Her areas of expertise include<span class="cutted_dots">...</span> <span class="cutted_text"> corporate communications, internal communications, event management, change communications, writing, and public speaking.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

      <div class="team_item">
        <div class="team_item__img">
          <img src="images/team/Samohin.jpg" width="380" alt="Igor Samohin">
        </div>
        <div class="team_item__info">
          <div class="team_item__name">
            <div class="team_item__title">Igor Samohin</div>
          </div>
        </div>
        <div class="team_item__content">
          <div class="team_item__text">
            <strong class="team_item__accent">Software development</strong>
            <p class="cutted_container">Igor is Project Manager for Lykke’s B2B projects. He has extensive experience in delivering Business Intelligence solutions to organizations and<span class="cutted_dots">...</span> <span class="cutted_text"> enterprises around the world and in developing long-term business relationships. His goal is to care for Lykke’s partners while helping them to bring innovative products to market.</span></p>
            <button class="btn btn--flat _toggle_cutted_text" type="button" data-toggle-text="Less">Read more</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
