<header class="header _header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header_logo _header_logo">
        <a href="#" class="_move_to"><img src="images/logo.svg" width="84" alt="Green Energy Wallet"></a>
      </div>
      <div class="nav_menu">
        <button type="button" class="btn btn--icon menu_icon _toggle_menu">
          <span class="menu_icon__text">Menu</span>
          <span class="div menu_icon__dash">
            <i></i><i></i>
          </span>
        </button>
      </div>
      <div class="nav_dropdown pull-right">
        <div class="header_center pull-left">
          <menu class="header_nav">
            <li class="header_nav__item">
              <a href="#about" class="_move_to _header_link">About</a>
            </li>
            <li class="header_nav__item">
              <a href="#why" class="_move_to _header_link">Why</a>
            </li>
            <li class="header_nav__item">
              <a href="#roadmap" class="_move_to _header_link">Roadmap</a>
            </li>
            <li class="header_nav__item">
              <a href="#team" class="_move_to _header_link">Team</a>
            </li>
            <li class="header_nav__item">
              <a href="#partners" class="_move_to _header_link">Partners</a>
            </li>
            <li class="header_nav__item">
              <a href="#contact" class="_move_to _header_link">Contact</a>
            </li>
          </menu>
        </div>
        <div class="social pull-left">
          <a href="https://fb.com/greenenergywallet" target="_blank" class="social_item">
            <i class="icon icon--facebook"></i>
            <span class="hidden-md hidden-lg">Facebook</span>
          </a>
          <a  href="https://twitter.com/GreenEnergyW" target="_blank"  class="social_item">
            <i class="icon icon--twitter"></i>
            <span class="hidden-md hidden-lg">Twitter</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
