<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Green Wallet</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <%= require('html-loader?attrs=false!./partials/header.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/lead.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/about.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/manifesto.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/why.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/roadmap.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/team.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/partners.html') %>
    <%= require('html-loader?attrs=false!./partials/sections/contact.html') %>
    <%= require('html-loader?attrs=false!./partials/footer.html') %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="bootstrap.min.js"></script>

    <script>

      $('._toggle_cutted_text').on('click', function (e) {
        e.preventDefault();
        $(this).siblings('.cutted_container').toggleClass('cutted_container--show');

        var textInitial = $(this).text();
        var textToggled = $(this).data('toggle-text');

        if (textToggled === $(this).text()) {
          $(this).text(textInitial).data('toggle-text', textToggled);
        }
        else if (textInitial === $(this).text())  {
          $(this).text(textToggled).data('toggle-text', textInitial);
        }

      });


      var wH = document.body.offsetHeight;

      console.log(wH - $('.tab-content').outerHeight() + $('.affix_target').offset().top)
      $(document).ready(function () {
        $('#affix').affix({
          offset: {
            top:  $('.affix_target').offset().top - 100,
            bottom: wH - $('.tab-content').outerHeight() + $('.tab-content').offset().top - $(window).height()
          }
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          $('html, body').animate({
            scrollTop: $('.tab-content').offset().top - 140
          });
        })
      })
    </script>

  </body>
</html>
